
body {

    text-align: center;
}

h1 {

    color: white;
}

h3 {

    color: white;
}

h6 {

    color: white;
}

footer {

    padding: 25px 0 25px;
    background-color: black;
}

#heading {
    position: relative;
    padding: 100px 0 100px;
    background-color: black;
}

.heading-button {

    display: inline-block;
    margin: 10px 10px 0;
}

.camera {

    background-image: url(https://s7d1.scene7.com/is/image/canon/R6-front:16-9-Large?wid=1728&hei=972&fmt=webp-alpha);
    width: 500px;
    height: 300px;
    top: 100px;
}

#sub-heading {

    padding-top: 25px;
}

.sub-heading-first {
    display: inline-block;
    flex-direction: column-reverse;
}

.image {

    height: 300px;
    width: 300px;
}

.navbar-brand {
    margin-left: 60px;

}

.nav-link {
    font-size: 18px;
}

.nav-item {
    margin-right: 40px;
}
