
body {

    text-align: center;
}

h1 {

    color: white;
}

h2 {

    color: white;
}

h3 {

    color: white;
}

h6 {

    color: white;
}

p {
    color: white;
}

footer {

    padding: 25px 0 25px;
    background-color: black;
}

#heading {
    padding: 100px 0 0px;
    background-color: black;
}

.heading-button {

    display: inline-block;
    margin: 10px 10px 0;
}

.camera {
    position: relative;
    width: 600px;
    height: 400px;
    margin-top: 30px;
    top: 100px;
    transform: rotate(85deg);
    z-index: 0;
}

#sub-heading {
    position: relative;
    background-color: white;
    z-index: 1;
    padding:25px;
    background-image: url(https://wallpaperaccess.com/full/123112.jpg);

}

.sub-heading-first {
    display: inline-block;
    flex-direction: column-reverse;
}

.image {

    height: 300px;
    width: 300px;
}

.navbar-brand {
    padding: 0 40px 0;

}

.nav-link {
    font-size: 18px;
}

.nav-item {
    margin-right: 40px;
}
