body {

    text-align: center;
}

.navbar-brand {
    padding: 0 40px 0;

}

.nav-item {
    margin-right: 40px;
}

.nav-link {
    font-size: 18px;
}

.login {

    display: flex;
    flex-direction: column;
}

#pokemons {

}

.pokemons__row-1 {

    width: 200px;
    height: 200px;

}

.pokemons__row-2 {

    width: 200px;
    height: 200px;

}
