#entire-form {
    text-align: center;

}

.navbar-brand {
    padding: 0 40px 0;

}

.nav-item {
    margin-right: 40px;
}

.nav-link {
    font-size: 18px;
}


.user-info {

    display: flex;
    flex-direction: column;
}
